/*// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

use only the available space inside the 400x400 frame*/
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 100%;
  background: linear-gradient(to bottom, #203147 0%, #a83256 120%);
}

.star {
  position: relative;
  display: inline-block;
  background: #fff;
  transform: scale(0.1, 0.1);
  border-radius: 100px;
}

:root {
  --animation-time: 5s; 
  --animation-delay: 2s;
}

.shootingStar {
  width: 5vmin;
  height: 80vmin;
  position: absolute;
  display: inline-block;
  border-radius: 100px;
  top: 0;
  left: 0;
  transform: scale(0.1, 0.1) rotate(105deg);
}

.animate {
  animation: move var(--animation-time) linear var(--animation-delay) infinite;
}

@keyframes move {
  0% {
      transform: translate(0, 0) scale(0.1, 0.1)  rotate(105deg) ;
    }
    100%{
      transform: translate(400px, 80px) scale(0.1, 0.1)  rotate(105deg);
    }
}

.shootingStar {
  transform: translate(100%, 100%) scale(0.1, 0.1);
  transition: transform 230ms ease-out;
}
